<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img [src]="pokemonImage | safehtml">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">{{pokemonName |titlecase}}</p>
            </div>
        </div>

        <div class="content">
            <small class="has-text-grey-light pkmnNumber">N.º {{pokemonInfo.id}}</small>
            <div class="columns mt-1">
                <div class="column" *ngFor="let item of pokemonInfo.types">
                    <p class="type" [ngClass]=" item.type.name">
                        {{item.type.name | titlecase}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>