@import "/src/styles.scss";

img {
  padding: 1.2rem;
}

.pkmnNumber {
  font-weight: bold;
}

.type {
  padding: 0.125rem;
  text-align: center;
  border-radius: 1.25rem;
  font-weight: 500;
  color: $white;

  &.grass {
    background-color: $light-green;
  }

  &.poison {
    background-color: $purple;
  }

  &.fire {
    background-color: $red;
  }

  &.water {
    background-color: $blue;
  }

  &.bug {
    background-color: $green;
  }

  &.normal {
    background-color: $grey;
  }

  &.flying {
    background: linear-gradient(to bottom, $sky-blue 60%, $grey 0%);
  }
}
