/* You can add global styles to this file, and also import other style files */
$white: #ffff;
$green: #43aa8b;
$purple: #9e0059;
$red: #f94144;
$blue: #577590;
$grey: #d2d2cf;
$light-green: #90be6d;
$sky-blue: #99c1de;
